@import "tailwindcss";

@plugin "daisyui" {
  themes: light --default, dark --prefersdark;
}

@theme {

  --font-mono: var(--font-dm-sans);
  --breakpoint-1xl: 1440px;
  --color-main: #132549;
  --color-second: #1E3A8A;
  --color-bgCustom: #f2f3ff;
  --color-complement: #FE7743;
}

.widgetDash{
  @apply bg-base-200 p-5 rounded-md shadow-sm;
}

body {

  font-family: var(--font-dm-sans), Arial, Helvetica, sans-serif;
}