@import "tailwindcss";
@plugin "daisyui";

@theme {

  --font-mono: var(--font-dm-sans);
  --breakpoint-1xl: 1440px;
  --color-main: #132549;
  --color-second: #1E3A8A;
}


body {

  font-family: var(--font-dm-sans), Arial, Helvetica, sans-serif;
}